.category-section {
    width: 80%;
    margin: 150px auto;
    text-align: center;
}

.categories {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
}
.featured {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(500px, 1fr));
}

.category-header {
    font-weight: 800;
    font-size: 48px;
    color: #1A1919;

}

.category-pera {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #757575;
}
.btn-all{
    display: flex;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    border: none;
}
@media (min-width: 768px) {
    .categories{
       display: flex;
       justify-content: center;
       align-items: center;
    }
}